   <% layout('/layouts/boilerplate') %>
   <div class="row mt-3 ">
    <div class="col-8 offset-2 ">
   <br>
    <h3 class="heading offset-2">Listing Details :</h3>
    <br>
    <div class="card col-6 offset-2 show-card " >
  <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing-image" >
    <div class="card-body" >
    <h5 class="card-title"><b><%= listing.title %></b></h5>
    <p class="card-text">
       &#8377; <%= (typeof listing.price === "number" ? listing.price.toLocaleString("en-IN") : "N/A") %>/night;
        <br>
        <i class="fa-solid fa-location-dot"></i> <%= listing.location %>, <%= listing.country %>
    </p>
  </div>
</div>
    <br />
    <h4>Description:</h4>
    <p><%= listing.description %></p>
    <br />
   

   <div class="d-flex gap-3 justify-content-center align-items-center my-3">
     <a href="/listings/<%= listing._id %>/edit" class="btn btn-edit">Edit</a>
     <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" style="margin: 0;">
       <button class="btn btn-delete">Delete</button>
     </form>
   </div>
    
    </div>
  </div>
 >